@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/
                       jquery.validate.unobtrusive.min.js"></script>
}

<h1>Contact</h1>

<p>Here's how you can reach me:</p>

<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td>Name</td>
            <td>@ViewBag.Name</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>@ViewBag.Phone</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@ViewBag.Email</td>
        </tr>
    </tbody>
</table>

<form asp-action="Submit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="first" class="form-label">First Name:</label>
                <input id="first" type="text" name="first" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col">
                <label for="last" class="form-label">Last Name:</label>
                <input id="last"  type="text" name="last" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
        </div>
        <div class="mt-3">
            <label for="feedback" class="form-label">Please leave some feedback:</label>
            <textarea class="form-control" type="text" name="feedback" id="feedback" rows="3"></textarea>
        </div>

        <div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </div>
    </div>

</form>

<div class="mt-5">
    <h6>Name: @ViewBag.Firstname @ViewBag.Lastname</h6>
    <p>Feedback: @ViewBag.Feedback</p>
</div>





